.App {
  margin: 50px auto;
  background-color: #dddddd;
  height: 600px;
  width: 1000px;
  border: 3px solid black;
  padding: 10px;
}

.Header {
  height: 100px;
  width: 980px;
  margin: 10px auto;
  background-color: #6aa84f;
  border: 3px solid black;
}

.Navigation {
  display: inline-block;
  height: 400px;
  width: 215px;
  background-color: #6fa8dc;
  border: 3px solid black;
  margin: 0 8px;
}

.Main {
  display: inline-block;
  height: 400px;
  width: 750px;
  background-color: #e06666;
  border: 3px solid black;
  margin: 0 auto;
  vertical-align: top;
}

.Subcontent {
  display: inline-block;
  height: 250px;
  width: 224px;
  background-color: #ffd966;
  border: 3px solid black;
  margin: 10px;
  align-items: center;
}

.Advertisement {
  height: 100px;
  width: 724px;
  background-color: #b4a7d6;
  border: 3px solid black;
  margin: 0 auto;
}
